@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<html>
<head>
    <title>BookList</title>
</head>
<body style="background:#eee" >
    <div class="container ">
        <div class="book">
            <div class="icon">
                @*rasm qoyish kerak*@
            </div>
            <div class="content">
                <h2>BookName</h2>
                <p>about the book</p>
                <p>details</p>
                <span>more text about it</span>
                <button>Read</button>
            </div>
        </div>
        <div class="book">
            <div class="icon">
                @*rasm qoyish kerak*@
            </div>
            <div class="content">
                <h2>BookName</h2>
                <p>about the book</p>
                <p>details</p>
                <span>more text about it</span>
                <button>Read</button>
            </div>
        </div>
        <div class="book">
            <div class="icon">
                @*rasm qoyish kerak*@
            </div>
            <div class="content">
                <h2>BookName</h2>
                <p>about the book</p>
                <p>details</p>
                <span>more text about it</span>
                <button>Read</button>
            </div>
        </div>
        <div class="book">
            <div class="icon">
                @*rasm qoyish kerak*@
            </div>
            <div class="content">
                <h2>BookName</h2>
                <p>about the book</p>
                <p>details</p>
                <span>more text about it</span>
                <button>Read</button>
            </div>
        </div>
    </div>
</body>
</html>